* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    font-size: 2rem;
    font-weight: bold;
    margin: 100px auto;
}